@charset "UTF-8";
.container-1 {
  padding: 1rem;
}

.box {
  display: inline;
  border-style: solid;
  border-width: thin;
  boder-color: black;
  padding: 1rem;
}

/*Declaro color por defecto*/
/*Añado a la clase base el color por defecto*/
.base-color {
  background: grey;
}

/*Fonción de oscurecer*/
/*Función de aclarar*/
/*Elementos a oscurecer*/
.darken-1 {
  background: #737373;
}

.darken-2 {
  background: #676767;
}

.darken-3 {
  background: #5a5a5a;
}

.darken-4 {
  background: #4d4d4d;
}

/*Elementos a aclarar*/
.lighten-1 {
  background: #9a9a9a;
}

.lighten-2 {
  background: #b3b3b3;
}

.lighten-3 {
  background: #cdcdcd;
}

.lighten-4 {
  background: #e6e6e6;
}

/*# sourceMappingURL=style.css.map */
