.container-1 {
  padding: 1rem;
}
.box {
  display: inline;
  border-style: solid;
  border-width: thin;
  boder-color:black;
  padding: 1rem;
}
/*Declaro color por defecto*/
$defaul_color:grey;

/*Añado a la clase base el color por defecto*/
.base-color {
  background: $defaul_color;
}

/*Fonción de oscurecer*/
@function oscurecer($color, $porcentaje){
  @return darken($color, $porcentaje);
}

/*Función de aclarar*/
@function aclarar($color,$porcentaje) {
  @return lighten($color, $porcentaje)
}

/*Elementos a oscurecer*/
.darken-1 {
  $porcentaje:5%;
background: oscurecer($defaul_color,$porcentaje);
}

.darken-2 {
  $porcentaje:10%;
  background: oscurecer($defaul_color,$porcentaje);
}

.darken-3 {
  $porcentaje:15%;
  background: oscurecer($defaul_color,$porcentaje);
}

.darken-4 {
  $porcentaje:20%;
  background: oscurecer($defaul_color,$porcentaje);
}

/*Elementos a aclarar*/
.lighten-1 {
  $porcentaje:10%;
  background: aclarar($defaul_color, $porcentaje);
}
.lighten-2 {
  $porcentaje:20%;
  background: aclarar($defaul_color, $porcentaje);
}
.lighten-3 {
  $porcentaje:30%;
  background: aclarar($defaul_color, $porcentaje);
}
.lighten-4 {
  $porcentaje:40%;
  background: aclarar($defaul_color, $porcentaje);
}
